#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  height: 150px;
  width: 150px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

/* * {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, */
body {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  height: 70px;
  background-color: rgb(197, 178, 178);
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(116, 110, 110, 0.199);
}
.header-inner {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.3rem;
  cursor: pointer;
  color: #ece9ea;
}
.logo:hover {
  color: whitesmoke;
}
section,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
section {
  height: 100vh;
  color: rosybrown;
}
nav {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
}

#Home {
  background-color: #cfd6d1;
}
#About {
  background-color: #f9e6d2;
}
#Projects {
  background-color: #e0e7ca;
}
#Contact {
  background-color: #d7ecf6;
}
#Main{
width: 100vw;
}
footer {
  height: 200px;
  background: #505152;
  color: white;
}

.hamburger-btn {
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 35px;
  right: 30px;
  outline: none;
  background-color: rgb(134, 125, 125);
  color: whitesmoke;
}
.addTransiton {
  transform: translateX(170px);
  transition: transform 0.5s ease-in-out;
}
.removeTransition {
  transform: translateX(20px);
  transition: transform 0.5s ease-in-out;
}

#sidebar-list {
  background-color: rgb(134, 125, 125);
  height: 90vh;
  width: 170px;
  position: absolute;
  z-index: 2000;
  right: 0;
  top: 0;
  margin-top: 70px;
}
.nav-big {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-weight: bold;
}

.nav-big-link {
  cursor: pointer;
  color: white;
  text-decoration: none !important;
}

.nav-small {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  height: 40%;
  margin-top: 50px;
  width: 80%;
}
.nav-small-link {
  cursor: pointer;
  color: whitesmoke;
  padding-bottom: 5px;
}
